# Basic env vars
dotenv_if_exists .env

# Custom env vars (will always be loaded)
source_env_if_exists .envrc.custom

# Custom env vars controlled by PROFILE var
if [ -n ${PROFILE} ]; then
  source_env_if_exists ".envrc.${PROFILE}"
fi
